/*
    IMPORT FILES
*/
@import url(responsive.css);
@import url(bootstrapnav.css);


/* fonts */
@font-face{
    font-family: UbuntuReg;
    src: url(../fonts/UbuntuReg.ttf);
    
}
@font-face{
    font-family: RobotoReg;
    src: url(../fonts/UbuntuReg.ttf);
}

/* animation */
.container-fluid{
    -webkit-transition-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/* anim */

body{
    
    font-family: RobotoReg;
    min-height: 100vh;
}

.bg-black{
    background: #000000 !important;
}
.asmkart{
    font-family: UbuntuReg;
    font-size: 12px;
    width: 100%;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.asmkart .icon i{
    color: #fff;
}

.asmkart .text{
    color: #fff;
}

.logotext a{
    font-family: UbuntuReg;
    text-transform: uppercase;
    color: #121212;
    letter-spacing: .1em;
    font-size: 30px;
    padding: 5px 10px;
    border: 3px solid #121212;
}
.logotext a:hover{
    text-decoration: none;
}
.logsign, .bg-image{ 
   min-height: 100vh;
}

.bg-image{
    background-image: url('https://source.unsplash.com/random/900x800');
    background-size: cover;
    background-position: center center;
}

.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}

.btnstyle{
    margin-top: 30px !important;
}

/* footer design start*/
.footer_section{
    position: absolute;
    width: 100%;
    /* bottom: 0; */
}

.footer_section .footer_sec_one{
  background: #151414;
  border-bottom: 1px solid #707070;
  padding-top: 30px;
  padding-bottom: 10px;
}

.footerlogotext a{
    font-family: RobotoReg;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    padding: 5px 5px;
    letter-spacing: .1em;
    border: 3px solid #fff;
}
.footerlogotext a:hover{
    text-decoration: none;
}
.footerlogotext p{
    color: #fff;
    font-size: 14px;
    display: block;
}
.footer_widget{
    margin: 20px;

}
.follow_us h3{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

 /* test */
 .follow_us .btns{
     width: 30px;
     height: 30px;
     line-height: 30px;
 }
 .follow_us .btns,
 .follow_us .btns::before
 .follow_us .btns .fab{
     transition: all 0.7s;
     transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
 }

 .follow_us .btns::before{
     top: 90%;
     left: -110%;
 }

 .follow_us .btns .fab{
     -webkit-transform: scale(0.8);
     transform: scale(0.8);
 }

 .follow_us .btns.fb::before{
     background-color: #3b5998;
 }
 .follow_us .btns.fb .fab{
     color: #3b5998;
 }

 .follow_us .btns.insta::before{
    background-color: #bf00ff;
}
.follow_us .btns.insta .fab{
    color: #bf00ff;
}

.follow_us .btns.twt::before{
    background-color: #00aff0;
}
.follow_us .btns.twt .fab{
    color: #00aff0;
}

 .follow_us .btns:focus::before,
 .follow_us .btns:hover::before{
     top: -10%;
     left: -10%;

 }
 .follow_us .btns:focus .fab,
 .follow_us .btns:hover .fab{
     color: #fff;
     -webkit-transform: scale(1);
     transform: scale(1);
 }

 .follow_us .btns{
     display: inline-block;
     background-color: #fff;
     width: 40px;
     height: 40px;
     line-height: 40px;
     margin: 0 10px;
     text-align: center;
     position: relative;
     overflow: hidden;
     border-radius: 28%;
     box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
 }
 .follow_us .btns::before{
     content: "";
     width: 125%;
     height: 125%;
     position: absolute;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
 }
.follow_us .btns .fab{
    font-size: 25px;
    vertical-align: middle;
}
 /* test */

.footer_widget ul li{
    display: inline;
    width: 100%;
    float: left;
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
}

.footer_widget ul li a{
    font-size: 14px;
    color: white;
    text-transform: capitalize;
}

.footer_widget ul li a:hover{
    color: #ffd700;
    text-decoration: none;
}

.footer_widget ul li i{
    margin-right: 10px;
    margin-top: 5px;
    color: #ffd700;
}

.footer_widget_heading h3{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;
}

.footer_widget_heading h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 3px;
    width: 50px;
    background: #ffd700;
}

.footer_section .footer_sec_two{
    background: #292828;
    padding: 20px;
    border-bottom: 1px solid #707070;
}
.footer_section .footer_sec_two p{
    color: #fff;
    text-align: center;
    display: flex;
}

.footer_section .footer_sec_three{
    background-color: #121212;;
    padding: 30px;
}
.footer_section .footer_sec_three p{
    color: #fff;
}
.footer_section .footer_sec_three i{
    color: #fff;
    padding: 5px;
}

/* footer ends */