/*
    IMPORT FILES
*/
@import url(responsive.css);
@import url(bootstrapnav.css);


/* fonts */
@font-face{
    font-family: UbuntuReg;
    src: url(../fonts/UbuntuReg.ttf);
    
}
@font-face{
    font-family: RobotoReg;
    src: url(../fonts/UbuntuReg.ttf);
}

/* animation */
.container-fluid{
    -webkit-transition-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/* anim */

*{
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    min-height: 100vh;
    font-family: RobotoReg;
    padding-bottom: 380.8px;
}

.bg-black{
    background: #000000 !important;
}
.asmkart{
    font-family: UbuntuReg;
    font-size: 12px;
    width: 100%;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.asmkart .icon i{
    color: #fff;
}

.asmkart .text{
    color: #fff;
}

.logotext a{
    font-family: UbuntuReg;
    text-transform: uppercase;
    color: #121212;
    letter-spacing: .1em;
    font-size: 30px;
    padding: 5px 10px;
    border: 3px solid #121212;
}
.logotext a:hover{
    text-decoration: none;
}
.logsign, .bg-image{ 
   min-height: 90vh;
}

.bg-image{
    background-image: url('https://source.unsplash.com/random/900x800');
    background-size: cover;
    background-position: center center;
}

.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}

.btnstyle{
    margin-top: 30px !important;
}

/* footer design start*/
.footer_section{
    /* padding: 20px; */
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer_section .footer_sec_one{
  background: #151414;
  border-bottom: 1px solid #707070;
  padding: 30px 10px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* box-sizing: border-box; */
}

.footerlogotext a{
    font-family: RobotoReg;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    padding: 5px 5px;
    letter-spacing: .1em;
    border: 3px solid #fff;
}
.footerlogotext a:hover{
    text-decoration: none;
}
.footerlogotext p{
    color: #fff;
}

.footer_widget{

}

.footer_widget_heading h3{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;
}

.footer_widget_heading h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 3px;
    width: 50px;
    background: #ffd700;
}

.footer_section .footer_sec_two{
    background: #292828;
}
/* footer ends */