/*
    IMPORT FILES
*/
@import url(responsive.css);
@import url(bootstrapnav.css);


/* fonts */
@font-face{
    font-family: UbuntuReg;
    src: url(../fonts/UbuntuReg.ttf);
    
}
@font-face{
    font-family: RobotoReg;
    src: url(../fonts/UbuntuReg.ttf);
}

/* animation */
.container-fluid{
    -webkit-transition-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/* anim */

body{
    font-family: RobotoReg;
}

.bg-black{
    background: #000000 !important;
}
.asmkart{
    font-family: UbuntuReg;
    font-size: 12px;
    width: 100%;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.asmkart .icon i{
    color: #fff;
}

.asmkart .text{
    color: #fff;
}

.logotext a{
    font-family: UbuntuReg;
    text-transform: uppercase;
    color: #121212;
    letter-spacing: .2em;
    font-size: 20px;
    padding: 5px 10px;
    border: 3px solid #121212;
}
.logotext a:hover{
    text-decoration: none;
}
.logsign, .image{
    min-height: 100vh;
}

.bg-image{
    background-image: url('https://source.unsplash.com/random/900x800');
    background-size: cover;
    background-position: center center;
}

.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}

.btnstyle{
    margin-top: 30px !important;
}